<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Honest Joe's Used Cars, LLC</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
<div class="container body-content">
  <header class="lead">Welcome to Honest Joe's Used Car Lot!</header>
  @RenderBody()
  <hr/>
  <footer>&copy; 2018 - Honest Joe's Used Cars, LLC - a division of sCr3wU Industries.</footer>
</div>
  <script src="/scripts/carlot.js"></script>
  <script src="/scripts/output.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
</body>
</html>
